# Dependencies
node_modules/

# Expo
.expo/
*.jks
*.keystore

# Build outputs
android/app/build/
android/build/
*.apk
*.aab

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Misc
*.log
npm-debug.log*
